{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}

    <h1>Add product</h1>

    <div class="container">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>


{% endblock %}
